<div class="car-maintenance">
  <h1>Schedule car maintenance</h1>
  <p>Select a maintenance job</p>
  <form [formGroup]="scheduleMaintenanceJobForm">
    <mat-form-field>
      <mat-label>Select an maintenance job:</mat-label>
      <mat-select
        id="maintenanceJob"
        formControlName="maintenanceJob"
        (selectionChange)="jobChange()"
      >
        @for (m of maintenanceJobs; track m.id) {
        <mat-option [value]="m.id">{{ m.jobTitle }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>

  <!-- Display details when a job is selected, or a message that a job isn't selected yet -->
  @if(!selectedMaintenanceJob) {
  <p>No maintenance job selected</p>
  } @else {
  <h3>{{ selectedMaintenanceJob.jobTitle }}</h3>
  <p>{{ selectedMaintenanceJob.jobDescription }}</p>
  <!-- Determine whether it should be hour or hours -->
  @if(selectedMaintenanceJob.serviceHours === 1) {
  <p>
    This job will take {{ selectedMaintenanceJob.serviceHours }} hour to
    complete, with an hourly rate of € {{hourRate}}
  </p>
  } @else {
  <p>
    This job will take {{ selectedMaintenanceJob.serviceHours }} hours to
    complete, with an hourly rate of € {{hourRate}}
  </p>
  }
  <!-- Either show that no spare parts are required or list the required spare parts -->
  @if(!selectedMaintenanceJob.spareParts ||
  selectedMaintenanceJob.spareParts.length === 0){
  <p>This job doesn't require spare parts</p>
  } @else {
  <h4>Spare parts</h4>
  <ul>
    @for (s of selectedMaintenanceJob.spareParts; track s.id) {
    <li>{{ s.partName }}, € {{ s.cost }}</li>
    }
  </ul>
  }
  <mat-form-field>
    <mat-label>Maintenance date</mat-label>
    <input matInput [matDatepicker]="datepicker" [(ngModel)]="selectedDate" />
    <mat-datepicker #datepicker />
    <mat-datepicker-toggle [for]="datepicker" matSuffix />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Maintenance time</mat-label>
    <input
      matInput
      [matTimepicker]="timepicker"
      [matTimepickerMin]="'6:00'"
      [matTimepickerMax]="'19:00'"
      [(ngModel)]="selectedDate"
      [ngModelOptions]="{ updateOn: 'blur' }"
    />
    <mat-timepicker #timepicker />
    <mat-timepicker-toggle [for]="timepicker" matSuffix />
  </mat-form-field>
  <div>
    <button mat-button (click)="calculate()">Calculate</button>
  </div>

  @if(markupWeekend !== 100) {
    <p>The selected day is in a weekend, please take into account that a markup of {{markupWeekend}}% is set.</p>
  }

  @if(costOfScheduledMaintenanceJob > 0) {
    <h4>Result</h4>
    <p>Performing the selected maintenance job will cost the following:</p>
    <p>Excluding tax: € {{costOfScheduledMaintenanceJobWithoutTax | number : '1.2-2'}}</p>
    <p>Including tax ({{taxPercentage}}%): € {{costOfScheduledMaintenanceJob | number : '1.2-2'}}</p>
  }
  }
</div>
